:root {
  --logo-studio-color: #000000;
  --bg-prime-color: #ffffff;
  --bg-second-color: #f5f4fa;
  --text-prime-color: #757575;
  --text-second-color: #212121;
  --text-accent-color: #2196f3;
  --botton-prime-color: #f5f4fa;
  --border-color: #eeeeee;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --hero-footer-color: #2f303a;
  --border-card-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-soc-color: #afb1b8;
  --soc-footer-color: rgba(255, 255, 255, 0.1);
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--body-prime-color);
  color: var(--text-prime-color);
}
/* ЗАГОЛОВКИ СБРОС отступов */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* РИСУНКИ В INLINE-BLOCK */
img {
  display: block;
  padding: 0;
  margin: 0;
}
/* === УДАЛЕНЫ МАРКЕРЫ ДЛЯ ВСЕХ СПИСКОВ === */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* === УДАЛЕНЫ ПОДЧЕРКИВАНИЕ ССЫЛОК ===  */
.link {
  text-decoration: none;
}
/* --= ПАРАМЕТРЫ КОНТЕЙНЕРА =-- */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ===  ШРИФТ h2(ешеду) ДЛЯ ВСЕХ СЕКЦИЙ(кроме footer)  === */
.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.btn-btn {
  display: inline-flex;

  position: relative;
  border: none;
  margin: 0;
  padding: 30px 100px;
  background-color: navy;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

.btn-btn::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 20px;

  background-color: red;

  transition: transform 1252ms linear;
}
.btn-btn::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 100px;
  width: 40px;
  height: 40px;
  margin-right: 20px;

  transform: translateY(calc(-50% + 70px));
  background-color: yellowgreen;

  transition: transform 52ms linear;
}

.btn-btn:hover::before {
  transform: translateY(-70px);
}

.btn-btn:hover::after {
  transform: translateY(-50%);
}
